<!-- Source: https://learn.microsoft.com/en-us/microsoft-365/test-base/view-test-results?view=o365-worldwide -->
<!-- Sitemap-Last-Modified: 2026-04-24 -->

# Viewing Test Results

Important

**Test Base for Microsoft 365 will transition to end-of-life \(EOL\) on May 31, 2024.** We're committed to working closely with each customer to provide support and guidance to make the transition as smooth as possible. If you have any questions, concerns, or need assistance, [submit a support request](https://aka.ms/TestBaseSupport).

Logging into the Azure portal, you can see application test results at scheduled intervals against selected updates from the Overview page of your Test Base account.  
Clicking your Test Base account name, and then clicking links under the Insights category in the left-hand sector of the page, as follows:

- Test Summary - general overview of test results and status
- Security Update Results - overview and details of security update-related application test results
- Feature Update Results - overview and details of feature update-related application test results

From the latter two pages, you'll have detailed views of test results that focus on the following areas:

- Script executions
- Reliability data
- Memory utilization
- CPU utilization

The sections that follow describe how to access and review the results of the previously specified testing areas.
